# EDA PRECIO VIVIENDA

![img_readme](https://github.com/user-attachments/assets/5e7f1e0e-6b73-4b81-815b-b2af6bcfb690)

El precio de la vivienda sigue una tendencia alcista que parece no tener fin en los últimos años.
El objetivo de este Analisis Exploratorio de datos es confirmar o desmentir ciertas hipótesis que podrían plantearse para entender los motivos de esta tendencia.

#### 1
Se está promoviendo ahora la idea de que liberar suelo para construir vivienda limitaría su precio. Basado en la serie de datos que conocemos ¿podemos decir que se construye más vivienda protegida en territorios con más suelo liberado?

#### 2
¿A mayor número de viviendas construidas libres baja el precio de la vivienda? Si existe alguna serie con un incremento notable en el número de viviendas construidas de promoción libre se redujo en esa serie anual el número de solicitantes de vivienda pública?

#### 3
¿Existe relación entre la demanda no satisfecha de vivienda pública protegida y el aumento del precio del precio del alquiler del mercado libre que haga que este aumente?

##### 4
¿Podríamos establecer otra correlación entre el número de pisos turísticos y el aumento del precio del alquiler del mercado libre que haga que este aumente?

#### 5
¿Ha aumentado el precio medio del metro cuadrado en la misma proporción que el precio de venta/alquiler del inmueble? Si hubiera desviación podríamos relacionarlo con los nuevos tipos de unidades de convivencia con lo que el encarecimiento del precio sería entonces aún mayor.

#### 6
Con los datos de inmigración que poseemos, ¿podríamos establecer que el número de solicitantes de vivienda pública crece en la misma proporción a la llegada de nuevos ciudadanos, lo cuál sería lógico al ser personas recién llegadas con necesidades habitacionales, o por el contrario su peso es inferior al que proporcionalmente les correspondería?

![onemorething2](https://github.com/user-attachments/assets/704b8d36-9d14-47b9-981b-663df8be7dd9)

#### 7 
Como hemos podido ver hasta ahora, la vivienda es un problema público del que un actor fundamental es político. Siendo este ámbito historicamente dominado por el género masculino y con los datos que tenemos la creciente llegada de más mujeres a la toma de decisiones ha ayudado a reducir el crecimiento del precio de la vivienda?

## Pisos turisticos Euskadi
Fuente: https://opendata.euskadi.eus/catalogo/-/viviendas-y-habitaciones-de-vivienda-particular-para-uso-turistico-en-euskadi/

In [1]:
import numpy as np
import pandas as pd

In [2]:
airbnbs = pd.read_csv('./data/pisos_turisticos.csv')
airbnbs

     Provincia  2016  2017  2018  2019  2020  2021  2022  2023  2024  2025
0  Araba/Álava    20    34    19    17    10    20    35    28    24    10
1      Bizkaia    75   179   242   339   207   150   317   567   538   148
2     Gipuzkoa   198   373   244   302   128   114   156   265   135    39

Fuente: https://www.ine.es/jaxiT3/Datos.htm?t=39364

In [3]:
ine_pisos_tur = pd.read_csv('./data/viviendas_turisticas_INE.csv', encoding='latin-1')
ine_pisos_tur

   Total Nacional;Comunidades y Ciudades Autónomas;Provincias;Viviendas y plazas;Periodo;Total
0   Total Nacional;16 País Vasco;;Viviendas turíst...
1   Total Nacional;16 País Vasco;;Viviendas turíst...
2   Total Nacional;16 País Vasco;;Viviendas turíst...
3   Total Nacional;16 País Vasco;;Viviendas turíst...
4   Total Nacional;16 País Vasco;;Viviendas turíst...
5   Total Nacional;16 País Vasco;;Viviendas turíst...
6   Total Nacional;16 País Vasco;;Viviendas turíst...
7   Total Nacional;16 País Vasco;;Viviendas turíst...
8   Total Nacional;16 País Vasco;;Viviendas turíst...
9   Total Nacional;16 País Vasco;;Viviendas turíst...
10  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
11  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
12  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
13  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
14  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
15  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
16  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
17  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
18  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
19  Total Nacional;16 País Vasco;01 Araba/Álava;Vi...
20  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
21  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
22  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
23  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
24  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
25  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
26  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
27  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
28  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
29  Total Nacional;16 País Vasco;48 Bizkaia;Vivien...
30  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...
31  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...
32  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...
33  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...
34  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...
35  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...
36  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...
37  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...
38  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...
39  Total Nacional;16 País Vasco;20 Gipuzkoa;Vivie...

https://www.euskadi.eus/contenidos/ds_recursos_turisticos/habitaciones_viviendas_turisti/opendata/viviendas.xlsx

## Precio alquiler Euskadi - Territorios históricos
Fuente:

In [8]:
precio_alq_th = pd.read_csv('./data/precio_alq_territorios_historicos.csv')
precio_alq_th

,Años: 0,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Araba,489.700000,496.412500,521.335000,534.075000,543.567500,550.740000,571.337500,606.615000,594.625000
1,Bizkaia,570.093429,593.445429,611.301429,624.612571,635.615714,645.053143,668.957429,697.343429,693.017143
2,Gipuzkoa,519.531765,571.392059,576.406471,609.690588,620.437353,623.015000,660.228235,680.255294,680.952941

## Precio alquiler - Comarcas
Fuente : https://www.etxebide.euskadi.eus/estadistica/tablas-estadisticas-de-la-estadistica-del-mercado-de-alquiler-emal-2016-2020-hasta-el-2-trimestre-de-2020/webetxe00-content/es/

In [9]:
precio_alq_comarca = pd.read_csv('./data/precio_alq_comarcas.csv')
precio_alq_comarca

,Código comarca,COMARCA,2023,2022,2021,2020,2019,2018,2017,2016,...,2014,2013,2012,2011,2010,2009,2008,2007,2006,Unnamed: 20
0,1100,AÑANA,9.78,9.86,7.84,4.62,5.31,5.49,5.68,5.68,...,6.69,7.43,8.20,30.75,40.88,57.89,64.43,87.15,69.99,NaN
1,1200,LLANADA ALAVESA,17.86,15.24,13.05,9.30,7.77,6.49,5.89,8.46,...,23.46,36.16,48.85,65.68,73.13,73.17,74.48,74.90,53.26,NaN
2,1300,MONTAÑA ALAVESA,8.60,8.08,10.50,7.65,7.66,5.97,5.58,3.24,...,9.79,20.66,28.17,35.80,51.67,56.93,49.52,52.61,48.35,NaN
3,48100,ARRATIA-NERVIÓN,4.90,2.67,3.64,3.15,2.94,2.99,3.33,2.02,...,16.92,19.16,22.64,28.08,34.03,36.86,38.64,42.85,36.66,NaN
4,20200,BAJO BIDASOA,11.73,11.15,13.73,12.95,12.93,11.95,10.28,9.38,...,14.85,12.29,15.54,15.56,14.31,11.65,16.17,18.44,17.05,NaN
5,48200,GRAN BILBAO,9.00,9.14,8.90,9.46,9.63,9.13,8.39,7.24,...,7.39,6.97,7.51,10.76,12.36,16.15,19.99,22.25,22.59,NaN
6,20100,BAJO DEBA,12.23,10.48,8.12,6.71,4.43,3.72,5.37,5.56,...,6.92,8.94,12.67,12.63,21.15,31.07,33.66,32.57,30.84,NaN
7,20300,ALTO DEBA,9.47,10.36,9.90,8.12,6.59,3.35,2.39,2.44,...,8.99,11.58,15.16,29.53,42.14,44.56,45.27,48.42,32.78,NaN
8,20400,DONOSTIALDEA,6.87,7.11,9.40,10.51,11.50,11.32,10.49,8.61,...,11.02,12.36,14.33,16.92,19.64,21.22,23.14,24.97,22.33,NaN
9,48300,DURANGUESADO,12.15,8.71,9.42,10.47,9.28,9.49,9.42,10.26,...,14.99,17.29,22.20,25.36,25.85,29.11,36.27,37.45,37.32,NaN
10,48400,ENCARTACIONES,0.44,0.47,0.41,0.50,1.13,1.28,1.31,2.68,...,8.43,11.09,17.06,34.80,40.35,50.13,54.88,53.96,34.27,NaN
11,1400,RIOJA ALAVESA,3.00,2.49,2.33,1.65,1.47,1.39,1.04,4.06,...,7.67,10.69,25.03,29.27,39.34,47.17,60.02,60.61,67.82,NaN
12,48500,GERNIKA-BERMEO,4.50,3.70,5.82,5.24,5.62,5.09,5.24,4.01,...,6.66,7.32,10.23,24.83,40.39,43.88,48.67,53.12,25.97,NaN
13,20500,GOIERRI,8.76,8.99,8.60,8.19,8.69,7.98,7.11,11.03,...,9.82,12.73,16.16,20.67,28.64,37.01,41.51,42.81,32.68,NaN
14,1500,ESTRIBACIONES DEL GORBEA,11.66,11.86,11.19,7.85,7.40,4.79,4.56,3.97,...,13.48,16.12,18.57,34.41,64.86,67.05,81.99,93.89,80.65,NaN
15,1600,CANTÁBRICA ALAVESA,10.20,8.78,11.21,11.58,11.02,9.00,6.90,4.33,...,6.86,7.73,8.91,25.89,31.36,40.14,46.78,54.43,42.21,NaN
16,48600,MARKINA-ONDARROA,2.65,2.07,2.56,3.40,3.60,3.79,3.02,3.05,...,2.09,1.40,6.36,16.19,24.20,28.02,35.85,37.10,24.95,NaN
17,48700,PLENTZIA-MUNGIA,18.64,22.66,22.80,24.06,23.44,20.61,16.23,14.84,...,20.42,19.83,25.65,33.66,39.37,39.90,48.56,55.39,50.09,NaN
18,20600,TOLOSALDEA,9.18,7.23,4.80,5.88,7.34,7.13,5.83,5.83,...,8.13,15.68,27.18,32.52,34.32,41.74,37.91,30.98,31.80,NaN
19,20700,UROLA KOSTA,19.04,14.41,12.45,10.77,12.65,8.00,6.31,7.93,...,12.27,15.68,17.19,20.70,26.95,27.41,27.05,33.10,31.07,NaN

## Precio compraventa libre
Fuente: https://www.eustat.eus/elementos/tbl0013664_c.html

## Licencias de vivienda nueva
Fuente: https://opendata.euskadi.eus/catalogo/-/indicadores-municipales-de-sostenibilidad-licencias-de-vivienda-nueva-concedidas-en-el-ultimo-quinquenio-x2030-habitantes/

In [ ]:
licencias = pd.read_csv('./data/licencias_vivienda_nueva.csv',encoding='latin-1')
licencias

## Suelo urbanizable
Fuente: https://opendata.euskadi.eus/catalogo/-/indicadores-municipales-de-sostenibilidad-vivienda/  
Necesario para normalizar índices de tablas que son porcentuales como las 2 de arriba

## Solicitudes de vivienda que constan en Etxebide ( habitantes)
Fuente: https://opendata.euskadi.eus/catalogo/-/indicadores-municipales-de-sostenibilidad-vivienda/

## Viviendas adjudicadas por Etxebide en el ultimo trienio por cada 100 solicitudes inscritas
Fuente:  https://opendata.euskadi.eus/catalogo/-/indicadores-municipales-de-sostenibilidad-vivienda/

## Poblacion total (hab.)
Fuente: https://opendata.euskadi.eus/catalogo/-/indicadores-municipales-de-sostenibilidad-vivienda/  
Necesario para normalizar índices de tablas que son porcentuales como las 2 de arriba

## Población extranjera
Fuente: https://opendata.euskadi.eus/catalogo/-/indicadores-municipales-de-sostenibilidad-vivienda/  
Necesario para una hipotesis

## Tasa crecimiento vegetativo
Fuente: https://opendata.euskadi.eus/catalogo/-/indicadores-municipales-de-sostenibilidad-vivienda/  
Necesario para normalizar índices de tablas que son porcentuales como las 2 de arriba

## Mujeres candidatas en elecciones municipales (% sobre total personas candidatas).csv
## Mujeres electas en elecciones municipales (% sobre total personas electas).csv
Fuente: Fuente: https://opendata.euskadi.eus/catalogo/-/indicadores-municipales-de-sostenibilidad-vivienda/  
Hipótesis por determinar todavía